.header{
  color: white;
  text-align:left;
  background-color:  #06706b;
  height: 120px;
  padding: 15px;
}
.affect{
  background-color: #EDF2F4;
  padding: 5px;
}
.footer{
  text-align: center;
  padding: 3px;
}


.required{
  color: red
}
